@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .active {
    @apply font-bold text-white;
  }

  html,
  body,
  #root {
    @apply h-full w-full;
  }

  body {
    @apply bg-[#131A22];
  }
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(293, 44%, 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}

.gradient-02 {
  background-image: linear-gradient(
    270deg,
    hsl(314, 44%, 51%) 0%,
    hsl(314deg 70% 73%) 26%,
    hsl(314deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}

::-webkit-scrollbar {
  @apply bg-elblack w-3.5
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full
}

::-webkit-scrollbar-thumb:active {
  @apply bg-slate-700
}

::selection {
  @apply bg-purple-600 text-white
}