@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@layer base {
  .active {
    @apply font-bold text-gray-200;
  }

  html,
  body,
  #root {
    @apply h-full w-full;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-[#0d1426];
    font-family: "Plus Jakarta Sans", sans-serif;
  }

  section {
    @apply p-6;
  }
}

@layer components {
  .sidebar {
    @apply w-[100%] p-4 border-l-0 lg:w-[20%] h-full border-t border-t-slate-600 md:border-t-0 md:border-l border-l-slate-600 flex flex-col gap-4 rounded-sm;
  }

  .btn {
    @apply rounded-lg md:px-6 md:py-3 px-5 py-2 justify-center items-center w-fit cursor-pointer flex gap-2 text-xs md:text-sm md:mx-0 font-bold focus:ring-2;
  }

  .btn-primary {
    @apply bg-purple-600 text-purple-200 hover:bg-purple-700 focus:ring-purple-300;
  }

  .btn-secondary {
    @apply hover:from-slate-600 hover:to-slate-700 bg-gradient-to-r from-slate-500 to-slate-600 text-gray-200 font-semibold hover:shadow-blue-700 hover:shadow-md transition-all ease-in-out duration-500 focus:ring-blue-900 focus:ring-4;
  }
}

@layer utilities {
  .float-animation {
    animation: float 5s ease-in-out infinite;
  }
}

.gradient-01 {
  background-image: linear-gradient(
    270deg,
    hsl(293, 44%, 51%) 0%,
    hsl(284deg 70% 73%) 26%,
    hsl(257deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}

.gradient-02 {
  background-image: linear-gradient(
    270deg,
    hsl(314, 44%, 51%) 0%,
    hsl(314deg 70% 73%) 26%,
    hsl(314deg 70% 86%) 39%,
    hsl(202deg 92% 90%) 50%,
    hsl(215deg 77% 81%) 61%,
    hsl(221deg 73% 70%) 74%,
    hsl(220deg 76% 51%) 100%
  );
  filter: blur(260px);
}

::-webkit-scrollbar {
  @apply bg-elblack w-3.5;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-800 rounded-full;
}

::-webkit-scrollbar-thumb:active {
  @apply bg-slate-700;
}

::selection {
  @apply bg-purple-600 text-gray-200;
}
